<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleCalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50957/SimpleCalculatorService.svc/CalculatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleCalculatorService"
                contract="SimpleCalculatorServiceReference.ISimpleCalculatorService"
                name="BasicHttpBinding_ISimpleCalculatorService" />
        </client>
    </system.serviceModel>
</configuration>